# Standard ignores
*.pyc
*.pyo
*.DS_Store
*.swp
*.idea
*.project
*.pydevproject
*.kpf
.ipynb_checkpoints
venv
my_env/
cv/
data/

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

## Directory-based project format
.idea/

## File-based project format
*.ipr
*.iml
*.iws

data/model.*
ningen_shikkaku*
.envrc
test.txt
chainer-natual-language-processing.ipynb.org
*.*~
weather_data_train*
watson_pass.txt
twitter.txt
client_secret.json
watson_execute.sh
